.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(217, 54%, 11%);
    font-size: 14px;
    height: 100vh;
    font-family: 'Outfit', sans-serif;

}
.main{
    background-color:  hsl(216, 50%, 16%);
    width: 300px;
    margin: 4% auto;
    overflow: hidden;
    border-radius: 15px;
}

.main .image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main .image img{
    width: 85%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 20px auto;
}
.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 25px;
}

.text h3{
    padding-bottom: 10px;
    color:hsl(0, 0%, 100%);
}

.text p{
    color: hsl(216, 27%, 53%);
}
.amount-days{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid  hsl(216, 27%, 53%);
    width: 100%;
    margin: 0 auto;

}
.amount{
    display: flex;
    align-items: center;
    gap: 5px;
}
.amount h5{
    color: hsl(178, 100%, 50%);
}
.days{
    display: flex;
    margin: 30px;
    align-items: center;
    gap: 5px;
}
.days p{
    color:hsl(216, 27%, 53%);
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.profile img{
    width: 40px;
    border: solid 1px white;
    border-radius: 50%;
}
.profile span{
    color:hsl(0, 0%, 100%);;
}
